{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Register</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-panels.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		
			<link rel="stylesheet" href="{% static 'css/skel-noscript.css' %}" />
			<link rel="stylesheet" href="{% static 'css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
		
	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/timeexchange">Homepage</a></li>											<li><a href="/timeexchange/goods">商品列表</a></li>
						<li><a href="/timeexchange/goodspost">刊登商品</a></li>
						<li class="active">
							{% if request.user.is_authenticated %}
							<a href="/timeexchange/register/">我的資料</a>
							{% else %}
							<a href="/timeexchange/register">會員註冊</a>
							{% endif %}
						</li>
						<li>{% if request.user.is_authenticated %}
            				<a>{{request.user}},您好</a>
            				<a href="/timeexchange/logout/">登出</a>            				
            				{% else %}
            				<a href="/timeexchange/login">登入</a>
        					{% endif %}
        				</li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">TimeEXchange</a></h1>
					<span class="tag">By Yihsiu,George,Titus</span>
				</div>
			</div>
		</div>
	<!-- Header --> 

	<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h2>會員</h2>
								<span class="byline">絕對不會外流你的資料！</span>
							</header>
							
{% if request.user.is_authenticated %}
<body>
{%for m in member%}
會員帳號:{{m.user.username}}<br>
姓:{{m.user.last_name}}<br>
名:{{m.user.first_name}}<br>
會員信箱:{{m.user.email}}<br>
生日:{{m.birthday}}<br>
性別:{{m.gender}}<br>
電話:{{m.phonenumber}}<br>
餘額:{{m.remaintime}}
{%endfor%}
</body>
{% else %}
 <body><p style="color:red">
 	 {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
 </p>
        <h1>註冊新帳號</h1>
    
        <form action="" method="post">
        	{% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="註冊">
        </form>
    </body>
{% endif %}

						</section>
					</div>

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							<header>
								<h2>用過都說讚-按按看啊</h2>
							</header>
							<div class="row">
								<section class="6u">
									<ul class="default">
										<li><a href="https://www.facebook.com/chanjiu.jan">詹ＧＧ：我喜歡排隊</a></li>
										<li><a href="#">桑寶寶：期末allpa啦</a></li>
										<li><a href="#">圓雨廷：我很圓啦</a></li>
										<li><a href="#">河馬葛格：快帶我上車</a></li>
										<li><a href="https://www.facebook.com/NTUST.HDC/?hc_ref=ARQNXhOMlDriYy3Mihhr647tUa_gbvWQGx37DOOqU9TRAWRz2QFRQuldyWY1Lxoqa2Y&fref=nf">AIA柏辰：我不是熱舞社</a></li>
									</ul>
								</section>
								<section class="6u">
									<ul class="default">
										<li><a href="#">鄭翔：我都蓋棉被純聊天</a></li>
										<li><a href="#">清水元：我想喝啊水<3</a></li>
										<li><a href="#">小白：幹！</a></li>
										<li><a href="#">小黑：欸我安瓜啦！</a></li>
										<li><a href="https://www.facebook.com/CrushesNTUST/">小媜：我最清純善良惹（告白女神）</a></li>
									</ul>
								</section>
							</div>
						</section>
						<section>
							<header>
								<h2>製作日誌</h2>
							</header>
							<ul class="style">
								<li>
									<p class="posted">May 31, 2018  |  (10 )  Comments</p>
									<p><a href="#">開工大吉！</a></p>
								</li>
								<li>
									<p class="posted">June 1 找到模板製造商啦, 2018  |  (10 )  Comments</p>
									<p><a href="#">快做不完了啦！！！！！！！</a></p>
								</li>
								<li>
									<p class="posted">June 2, 2018  |  (10 )  Comments</p>
									<p><a href="#">後台出現惹</a></p>
								</li>
								<li>
									<p class="posted">June 4, 2018  |  (10 )  Comments</p>
									<p><a href="#">第一版好像不小心做出來了，被noscript搞了6小時，跟智障一樣ＱＱ</a></p>
								</li>
								<li>
									<p class="posted">June 6, 2018  |  (10 )  Comments</p>
									<p><a href="#">二版出現了！可以註冊啦啦啦</a></p>
								</li>

								<li>
									<p class="posted">June 8, 2018  |  (10 )  Comments</p>
									<p><a href="#">快做不完了啦！！！還有儲存資料功能沒做啊</a></p>
								</li>
								<li>
									<p class="posted">June 9, 2014  |  (10 )  Comments</p>
									<p><a href="#">嗚嗚！Jerry可以給我們Ａ+嗎？</a></p>
								</li>
							</ul>
						</section>
					</div>
					
				</div>
			</div>
		</div>
	<!-- /Main -->

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>	
				
					&ldquo;我們是一群可撥仔，嘻嘻-------李亦修&rdquo;<br>
				
				</blockquote>
				</section>
			</div>
		</div>
	<!-- /Tweet -->

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>I see you .</h2>
						<span class="byline">歡迎聯絡我們<br>
						告訴李亦修該怎麼樣交到女朋友
					    </span>
						<span class="byline"></span>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>


	</body>
</html>